@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --primary-color: #d1b560;
  --secondary-color: #b39a4e;
}

body {
  font-family: 'Vazirmatn', sans-serif;
}

.menu-container {
  background: linear-gradient(135deg, #ffffff 0%, #f3f4f6 100%);
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideIn {
  from { transform: translateY(-10px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

.nav-item {
  animation: fadeIn 0.3s ease-in-out, slideIn 0.3s ease-in-out;
}

.hover-underline-animation {
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--primary-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


